<launch>
  <!-- WHEELCHAIR URDF 호출-->
  <include file="$(find wheelchair_des)/launch/description.launch"/>
  
  <!-- WHEELCHAIR ODOM PUBLISH-->
  <include file="$(find wheelchair_pub_odom)/launch/odom.launch"/>

  <!--
  <node pkg="wheelchair_bringup" type="filter.py" name="filteredscan" output="screen">
  </node>
  -->
  
  
  <!-- Odom-IMU Extended Kalman Filter 
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
	  <rosparam command="load" file="$(find wheelchair_bringup)/config/robot_localization.yaml" />
	  <remap from="odometry/filtered" to="odom" />
  </node>
  -->

  
</launch>
