<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find wheelchair_slam)/map/bukeon.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="scan_topic" default="scan_filtered"/>
  <!--
  <arg name="scan_topic" default="filteredscan"/>
  -->
  
  <!-- Wheelchair bringup -->
  <include file="$(find wheelchair_bringup)/launch/wheelchair_remote.launch">
  </include>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find wheelchair_navigation)/launch/wheelchair_amcl.launch"/>

  <!-- Move_base -->
  <include file="$(find wheelchair_navigation)/launch/wheelchair_move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!-- Rviz  -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find wheelchair_navigation)/rviz/wheelchair_teb_navi1.rviz"/>
  </group>
</launch>
